.blockLogin {
  background-color: #e6f0ff;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  padding-top: 30vh;
}

.textLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 42px;
}

.TextCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.checkboxcss {
  border-radius: 2px;
  background-color: black;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.imageLogin {
  height: 450px;
  width: 545px;
}

.buttonLogin {
  width: 350px;
  background-color: #2b7fff;
  height: 56px;
  margin-top: 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.download {
  width: 400px;
  height: 300px;
  border-left: 1px solid gray;
}

/* .text-right {
  width: 20px;
  height: 10px;
} */
.formLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockLogin .heading {
  width: 730px;
  color: red;
}

.downloadNow {
  width: 120px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 8px;
  margin-top: 20px;
}

.img {
  -webkit-box-shadow: -8px 8px 10px gray;
          box-shadow: -8px 8px 10px gray;
}

.textDownload {
  width: 130px;
  height: 140px;
}

@media (max-width: 1280px) {
  .imageLogin {
    height: 380px;
    width: 475px;
  }
  .textLogin {
    font-size: 20px;
  }
}
.content-login {
  padding: 110px 0px;
  background-color: #e6ecf9;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-login {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.11);
}
.box-login > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-login .content-from__login {
  padding: 30px 110px;
}

.text-box__login {
  text-align: center;
  color: #cecfd4;
  margin-bottom: 40px;
}
.text-box__login .title-login__form {
  font-size: 32px;
  color: #097ff5;
  margin-bottom: 15px;
  font-weight: 700;
}

.content-from__login .form-control {
  height: 50px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: 0px;
  border-radius: 0px;
  border-left: solid 5px #097ff5;
  background-color: #f8f8f8 !important;
  margin-bottom: 25px;
}
.content-from__login .btn-login {
  width: 100%;
}

.btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  background-color: #097ff5;
  border-radius: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
  color: #ffffff;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px 15px;
  border: solid 2px transparent;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-login img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.btn-login:hover, .btn-login:focus {
  border: solid 1px #097ff5;
  color: #097ff5;
  background-color: transparent !important;
}
.btn-login:hover img, .btn-login:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}