.footer{
    width: calc(100vw - 250px);
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 15px 0;
    padding-left: 35px;
    border-top: solid 1px #CCCCCC;
    background-color: #FFFFFF;
    z-index: 30;

    a{
        color: $theme-color;
    }
}