.items-follow__online {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
  height: 1px;
  padding-top: 90%;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);

  .intros-follow__online {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 15px;
    width: 100%;
    height: 100%;
  }

  .tops-items__follow {
    display: flex;
    align-items: center;
  }

  .status-follow__online {
    position: absolute;
    bottom: 25px;
    left: 0px;
    width: 100%;
    height: fit-content;
    margin-bottom: 0px;
    text-align: center;
  }

  .names-follow__online {
    font-size: 16px;
    width: 100%;
    flex: 1;
    max-height: 100% !important;
    margin-left: 10px;
  }
}

.avatar-item__follow.avatar-follow {
  border-radius: 1000px;
  overflow: hidden;

  i {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-item__follow.avatar-icons {
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ebebeb;

  img {
    display: none;
  }

  i {
    font-size: 14px !important;
  }
}

.avatar-item__follow {
  width: 50px;
  height: 50px;
  position: relative;

  img {
    border-radius: 1000px;
  }
}

.icon-avatar__follows {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 1000px;
  left: 0px;
  top: 0px;
  border: solid 2px #ffffff;
}

.icon-avatar__follows.avatar-online {
  background-color: #5ecb37;
}

.item-online {
  .status-follow__online {
    color: #5ecb37;
  }

  .icon-avatar__follows {
    background-color: #5ecb37;
  }
}

.item-offline {
  .status-follow__online {
    color: red;
  }

  .icon-avatar__follows {
    background-color: red;
  }
}
