@import "components/variables.scss";
@import "components/mixin.scss";
@import "components/base.scss";
@import "components/footer.scss";
@import "components/record.scss";
@import "components/following.scss";
@import "components/statistical-card.scss";
@import "components/dashboard.scss";
@import "components/loading.scss";

.form-input-group {
  margin-bottom: 10px;
  &.inline {
    display: flex;
    p {
      margin-top: 5px;
      flex: 0 0 150px;
    }
    .form-control {
      width: 100%;
      display: block;
      background: #efefef;
      box-shadow: inset 0px -1px 0px #dddddd;
      border-radius: 5px;
      border: none;
      outline: none;
      height: 40px;
      padding: 0 25px 0 10px;
      font-weight: 400;
      position: relative;
      font-size: 14px;
      appearance: none;
      line-height: 16px;
      &:disabled {
        color: #777;
      }
    }
    textarea.form-control {
      padding-top: 10px;
    }
    &.border {
      .form-control {
        background: transparent;
        box-shadow: none;
        border: 1px solid #ddd;
        font-weight: 600;
      }
    }
  }
  > label {
    margin-bottom: 0.3rem;
    display: block;
  }
  p,
  span,
  .label-name {
    font-weight: 600;
  }
}

.auth-login-bg {
  background: linear-gradient(45deg, #0e42ff, #73b4ff);
  min-height: 100vh;
  position: relative;
  padding-top: 15%;
  .bg-decor {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 8rem;
    width: 100%;
    transform: translate(0, -50%) rotate(0) skewX(0) skewY(-6deg) scaleX(1)
      scaleY(1);
    background-color: rgb(255 255 255/0.2);
  }
}

.form-login {
  max-width: 500px;
  margin: 0 auto;
  background: $black;
  padding: 15px 30px;
  border-radius: 1.25rem;
  box-shadow: 0 2px 14px rgb(38 60 85 / 16%);
  position: relative;
  .form-input-group {
    > label {
      color: $white;
    }
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: $white;
  }
}

// layout

.layout-page {
  min-height: calc(100vh - 83px);
  @media (min-width: $screen-lg) {
    padding-left: 35px;
  }
  .submenu-sidebar {
    left: -255px;
    position: fixed;
    height: 100%;
    height: calc(100vh - 0px);
    top: 0;
    width: 225px;
    padding: 8px 0;
    z-index: 1031;
    border-left: 1px solid #f1f1ff;
    background: #f1f1ff;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);

    &.show {
      left: 65px;
    }
    h2 {
      color: $theme-color;
      font-weight: 600;
      padding: 11px 32px;
      font-size: 1.25rem;
      margin-bottom: 0;
    }
  }
  .menu-vertical {
    position: fixed;
    top: 0;
    left: -4rem;
    z-index: 1040;
    height: 100vh;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 01);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background: $theme-color;
    @media (min-width: $screen-md) {
      width: 4rem;
      left: 0;
    }
    &.show {
      top: 55px;
      width: 4rem;
      left: 0;
    }
  }
  .site-logo {
    color: $white;
    margin: 0 0 0px 0;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.129);

    .logo-apps {
      height: 75px;
      text-align: center;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
  }
  .tooltip {
    position: absolute;
    top: 5px;
    background: #515365;
    opacity: 0;
    left: 67px;
    padding: 3px 4px;
    border-radius: 4px;
    font-size: 12px;
    min-width: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 11%);
    pointer-events: none;
    @include transition2;
    span {
      display: block;
      min-width: 14px;
      width: 100%;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: -3px;
      margin-top: -3px;
      content: "";
      display: inline-block;
      border-top: 3px solid transparent;
      border-right: 3px solid #515365;
      border-bottom: 3px solid transparent;
    }
  }
  .submenu {
    display: none;
    &.show {
      display: block;
    }
  }
  .submenu-list {
    li {
      a {
        padding: 9px 32px;
        display: block;
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 600;
        border-radius: 0;
      }
    }
  }
  .menu-main {
    padding: 10px;
    .menu-item {
      white-space: nowrap;
      position: relative;
      transition: all 0.2s;
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:hover {
        .tooltip {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        background-color: rgba(255, 255, 255, 0.13);
      }

      .menu-toggle {
        transition: all 0.2s;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        padding: 0 12px;
        svg {
          position: relative;
          display: inline-block;
          color: $white;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          fill: $white;
        }
        span span {
          display: flex;
          align-items: center;
          transition: all 0.2s;
          color: $black;

          i {
            margin-right: 10px;
            min-width: 15px;
            font-size: 16px;
            text-align: center;
          }
        }
      }
      &.active {
        transition: all 0.2s;
        background-image: linear-gradient(145deg, #0160e7, #00c3ff) !important;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(1, 110, 234, 0.42);
        -moz-box-shadow: 0px 2px 10px 0px rgba(1, 110, 234, 0.42);
        box-shadow: 0px 2px 10px 0px rgba(1, 110, 234, 0.42);
        .menu-toggle span span {
          color: #ffffff;
        }
        .menu-toggle {
          //box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 11%);
        }
      }

      &:hover,
      &:focus {
        background: #ebebeb;
        span span {
        }
      }
    }
  }
}

.btn-logout {
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  align-items: center;
  border: 0px;
  color: #ffffff;
  outline: none;
  transition: all 0.2s;
  padding: 5px 15px;
  margin-top: 20px;
  border: solid 1px transparent;
  background: #ff0000;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(255, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 5px 0px rgba(255, 0, 0, 0.4);
  box-shadow: 0px 2px 5px 0px rgba(255, 0, 0, 0.4);

  i {
    margin-right: 10px;
    min-width: 15px;
    font-size: 17px;
    transform: rotateY(180deg);
  }
}

// content
.main-content {
  margin-top: 30px;

  padding: 0 20px 0 20px !important;
  //min-height: calc(100vh - 125px) !important;
  margin-left: 60px;
  @media (min-width: $screen-lg) {
    margin-left: 15px;
  }
  &.has_menu {
    margin-left: 250px;
    @media (min-width: $screen-lg) {
      margin-left: 200px;
    }
  }
}

// table

.table-wrapper {
  background: #fff;
  border: 1px solid #d4d8dd;
  border-radius: 0.5rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  .form-control {
    border: 1px solid #ebebeb;
  }
  .table {
    font-size: 0.875rem;
    width: 100%;
    thead th {
      background: #ebebeb;
      height: 46px;
      text-transform: capitalize;
      text-align: left;
      &:first-child {
        border-top-left-radius: 0.5rem;
      }
      &:last-child {
        border-top-right-radius: 0.5rem;
      }
    }
    tbody tr:not(:last-child) {
      border-bottom: 1px solid #ebebeb;
    }
    tbody td,
    th {
      vertical-align: middle;
      padding: 10px;
    }
  }
}
.btn-trash,
.btn-edit {
  box-shadow: none;
  border-radius: 0.3rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  svg {
    fill: $white;
    font-size: 10px;
  }
}
.btn-trash {
  background: $red;
}
.btn-edit {
  background: $yl;
}
//
.table-bottom {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.pagination {
  display: flex;
  align-items: center;
  .page-item,
  .page-link {
    margin: 0 5px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 1000px !important;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);

    &.bg-theme {
      background: $theme-color;
      a {
        color: $white;
      }
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      a {
        color: #777;
        font-size: 0.875rem;
        background: transparent;
      }
    }
  }
}
.active-pages {
  background-color: #00c3ff !important;

  a {
    color: #ffffff !important;
  }
}
.box-select {
  display: flex;
  align-items: center;
  width: 250px;
  font-size: 0.875rem;
}
//

.section {
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
  &.box-general {
    border: none;
    box-shadow: none;
    .heading {
      font-size: 25px;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
  &.general-info {
    border-radius: 0.5rem;
    background: $white;
    padding: 20px;
    .form-control {
      border: 1px solid #ddd;
    }
    .heading {
      margin-bottom: 20px;
      font-weight: 600;
    }
    .info {
      @media (min-width: $screen-sm) {
        display: flex;
      }
      @media (min-width: $screen-md) {
        max-width: 90%;
      }
      margin: 0 auto;
      .photo {
        @media (min-width: $screen-md) {
          width: 120px;
          height: 120px;
        }
        width: 60px;
        height: 60px;

        margin-right: 40px;
        border-radius: 50%;
        position: relative;
        border: 2px dashed $theme-color;
        @media (max-width: $screen-xs-max) {
          margin: 0 auto;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        input {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 32px;
          height: 32px;
          opacity: 0;
        }
        .edit {
          @include circle(26px);
          display: flex;
          align-items: center;
          justify-content: center;
          background: $theme-color;
          color: $white;
          font-size: 10px;
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 2px;
          border: 1px solid $white;
        }
      }
      .user-info {
        @media (min-width: $screen-sm) {
          width: 700px;
        }
      }
    }
  }
}
.box-form {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: $white;
  padding: 15px;
  .box-upload-photo {
    display: flex;
    align-items: center;
  }
  .photo {
    @include circle(100px);
    border: 1px solid;
    position: relative;
    .button-actions {
      @include center;
      top: inherit;
      bottom: 0;
      .form-input-group {
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
      }
      .form-control {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        background: transparent;
      }
      svg {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        cursor: pointer;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.groups-input__alls {
  display: flex;
  align-items: center;

  .input-alls {
    width: 190px;
    height: 40px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  }
}

.control-alls {
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  padding: 5px 15px;
  border-radius: 5px;
}

.label-input__alls {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-right: 10px;
  min-width: fit-content;
}

.groups-input__search {
  width: 100%;
  background: #ffffff;
  border: 1px solid #c3c2c2;
  border-radius: 3px;
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  input {
    width: 100%;
    flex: 1;
  }

  i {
    color: #484a5b;
    cursor: pointer;
  }
}

.groups-filter__alls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

  & > [class^="groups-input"] {
    margin-right: 25px;
  }
}

.tittle-tops {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.btn-black__alls {
  display: flex;
  min-height: 40px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: solid 1px $blue;
  background-color: $blue;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px;
  transition: all 0.3s;
  border-radius: 5px;

  img {
    margin-left: 10px;
    transition: all 0.2s;
  }

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: $blue;
    border-color: $blue;

    img {
      filter: brightness(0) saturate(100%) invert(29%) sepia(14%)
        saturate(3775%) hue-rotate(195deg) brightness(96%) contrast(92%);
    }
  }
}

.export-file__btn {
  display: flex;
  height: 40px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  padding: 0px 25px;
  padding-left: 0px;
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: auto;
  background-color: #27AE60;
  
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.13);
    margin-right: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 15px;
  }

  &:hover,
  &:focus {
      
  }
}

.top-record__phone {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.box-content {
  margin-bottom: 30px;
}

.table-alls {
  border: 1px solid transparent;
  border-collapse: collapse;
  padding: 10px 15px;

  tr {
    &:nth-child(1) {
      color: #000000;
      font-weight: 700;
    }

    &:nth-child(2n + 2) {
      background-color: #f1f4f8;
    }
  }

  p {
    margin-bottom: 0px;
  }

  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-panel {
    background-color: #ebebeb;
    color: #ebebeb;
  }
}

.table-alls td {
  border: 1px solid transparent;
  padding: 10px 15px;
  vertical-align: middle;

  audio {
    height: 40px;
    max-width: 270px;
  }
}

.table-list__all {
  padding: 20px;
  background-color: #ffffff;

  &::-webkit-scrollbar {
    width: 2px;
    height: 10px;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
  }

  .table-alls {
    width: 100%;
    color: #5c5c5c;
  }
}

.date-call {
  display: flex;
  align-items: center;
  // color: #ffa70c;

  &::before {
    font-family: "fontawesome";
    content: "\f017";
    margin-right: 5px;
  }
}

.name-call {
  display: flex;
  padding: 5px 10px;
  border-radius: 1000px;
  background-color: #28d5bc;
  color: #ffffff;
  width: fit-content;
  font-size: 12px;
  text-transform: uppercase;

  &::before {
    font-family: "fontawesome";
    content: "\f2c0";
    margin-right: 5px;
  }
}

.not-call,
.on-call {
  padding: 5px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 1000px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.not-call {
  background-color: #16c79a;
}

.on-call {
  background-color: red;
}

.input-date {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
  }
}

.start-date {
  display: flex;
  align-items: center;
  padding-right: 30px;
  &::after {
    font-family: "fontawesome";
    content: "\f251";
    position: absolute;
    right: 15px;
  }
}

.end-date {
  display: flex;
  align-items: center;
  padding-right: 30px;
  &::after {
    font-family: "fontawesome";
    content: "\f253";
    position: absolute;
    right: 15px;
  }
}

.btn-blue__alls {
  display: flex;
  width: fit-content;
  height: 40px;
  background-image: linear-gradient(145deg, #0160e7, #00c3ff) !important;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 0px;
  color: #ffffff;
  outline: none;
  transition: all 0.2s;
  padding: 5px 15px;
  border: solid 1px transparent;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  &:hover,
  &:focus {
    transform: translate(-2px, -2px);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);

    img {
      filter: brightness(0) invert(1);
    }
  }
}

.btn-dowload__all {
  display: flex;
  width: fit-content;
  height: 40px;
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 0px;
  color: #ffffff;
  outline: none;
  transition: all 0.2s;
  padding: 5px 15px;
  border: solid 1px transparent;
  margin-left: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  &:hover,
  &:focus {
    transform: translate(-2px, -2px);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);

    img {
      filter: brightness(0) invert(1);
    }
  }
}

.gutter-0 {
  margin: 0 0px;

  & > [class^="col"] {
    padding: 0 0px;
  }
}

.gutter-10 {
  margin: 0 -5px;

  & > [class^="col"] {
    padding: 0 5px;
  }
}

.list-record {
  margin-bottom: 10px;
}

@media (max-width: 1600.98px) {
  .table-alls {
    font-size: 14px;

    td {
      padding: 5px;
    }
  }

  .avatar-item__follow {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }

  .items-follow__online .intros-follow__online {
    padding: 10px;
  }

  .icon-avatar__follows {
    width: 10px;
    height: 10px;
    left: -2px;
    top: -2px;
  }
}

@media (max-width: 1440.98px) {
}

@media (max-width: 1365.98px) {
  body {
    font-size: 14px;
  }

  .layout-page {
    .menu-vertical {
      width: 210px !important;
    }
  }

  .main-content.has_menu {
    margin-left: 140px;
  }

  .footer {
    width: calc(100vw - 210px);
  }

  .name-call {
    min-width: max-content;
  }

  .name-call::before {
    display: none;
  }

  .items-follow__online .names-follow__online {
    font-size: 14px;
  }
}

.check-box__alls {
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent !important;

  label {
    margin-bottom: 0px;
    margin-left: 10px;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
    font-size: 14px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 9;
    margin: 0px;
  }

  .checkmark {
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    overflow: hidden;

    &:hover,
    &:focus {
      &:after {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }

    &:after {
      font-family: "fontawesome";
      content: "\f00c";
      font-size: 12px;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      width: 18px;
      height: 17px;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s;
    }
  }

  input:checked ~ .checkmark {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.d-none {
  display: none;
}
